<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container *ngFor="let column of tableInfo.displayedColumns">
    <ng-container matColumnDef={{column}}>
      <th mat-header-cell *matHeaderCellDef> {{tableInfo.columnNames.get(column)}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableInfo.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableInfo.displayedColumns;"></tr>
</table>