.table-header {
  height: 60px;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.action-item {
  align-self: center;
  flex-shrink: 0;
}

.filter {
  padding: 40px 30px;
  width: 250px;
  align-self: center;
  font-size: initial;
  color: initial;
}

