<div class="table-container">
  <app-table-header (insert)="insert()" (delete)="delete()" (filter)="this.dataSource.filter = $event">
  </app-table-header>
  <mat-divider></mat-divider>
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of tableInfo.displayedColumns; index as j">
      <ng-container matColumnDef={{column}}>
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{tableInfo.columnNames.get(column)}} </th>
        <td #me (click)="me.isOpen = true" mat-cell *matCellDef="let element; index as i">
          <app-editable-text #editableValue 
            (onCancel)="editableValue.isOpen = !editableValue.isOpen"  
            [isOpen]="me.isOpen" *ngIf="tableInfo.columnTypes.get(column).name === 'Text'" 
            [ngClass]="{'edit-active': me.isOpen}" [value]="element[column]">
          </app-editable-text>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsWithSelect"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsWithSelect;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
</div>