<div *ngIf="isOpen" [class.mat-elevation-z2]="true" class="input-container">
  <mat-form-field class="edit-input">
    <input appFocus matInput type="text" [formControl]="valueControl">
  </mat-form-field>
  <div class="action-buttons">
    <button color="primary" class="cancel-button" mat-button (click)="onCancelEvent()"> CANCEL </button>
    <button color="primary" class="save-button" mat-button (click)="onSave()"> SAVE </button>
  </div>
</div>
<div class="closed" *ngIf="!isOpen">{{valueControl.value}}</div>