<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container *ngFor="let column of tableInfo.displayedColumns">
    <ng-container matColumnDef={{column}}>
      <th mat-header-cell *matHeaderCellDef> {{tableInfo.columnNames.get(column)}} </th>
      <td (click)="onCellClick(editableValue)" mat-cell *matCellDef="let element">
        <div [style.position]="'relative'">
            <app-editable-value
            #editableValue 
            [ngClass]="{'edit-active': editableValue.open}" 
            value={{element[column]}} 
            type="tableInfo.columnTypes.get(column)"></app-editable-value>
        </div>
       
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableInfo.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableInfo.displayedColumns;"></tr>
</table>